*{
    margin: 0;
    font-family: Arial;
    box-sizing: content-box;
}

body{
    background-color: #f0f3ff;
}

.navbar{
    background-color: black !important;
    width: 100% !important;
}

.navbar-brand{
    color: white;
    font-size: 2rem;
}

.nav-link{
    color: white;
    font-family: 1.5rem;
}

.navbar-toogler{
    color: white;
}

.navbar-toggler-icon{
    background-color:white;
    border-radius: 2px;
}

.container{
    position: relative;
    text-align: center;
    color: black;
}

.text{
    position: absolute;
    font-size: 3rem;
    font-weight: 400;
    top: 120px;
    left: 170px;
}

.text2{
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    top: 190px;
    left: 170px;
}

.container img{
    width:100%;
    height: 400px;
    background-color: #f4f4ff;
}

.floating-island{
    top: 5rem;
    width: 1100px;
    border-radius: 10px ;
    margin-left: 13vw;
    padding: 10px 30px 30px;
    background-color: rgb(235, 238, 250);
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.service{
    padding: 20px 30px 30px;
}

.up p{
    font-size: 1.3rem;
    margin-left: 2rem;
}

.up p span{
    text-decoration: underline;
}
.below{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.below img{
    height: 100px;
    width: 100px;
}

.card{
    margin-left: 4rem;
    border: none;
}

.card-img-top{
    margin-left: 1.5rem;
}

.card p {
    text-align: center;
    font-weight: 500;
}

.estimate-card{
    /* s */
    margin: 0.5rem 2.5rem;
    padding: 1.5rem;
    width: 9rem;
    height: 13rem;
    transform: none;
    left: auto;
    bottom: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.body{
    width: 100%;
}

.porter-footprint-cont{
    text-align: center;
    color: #fff;
    line-height: 5.6rem;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 1rem;
    max-width: 100vw;
    overflow: hidden;
}

.porter-footprint-cont .footprint-title-cont{
    max-width: 80rem;
    margin: 6rem auto 4rem;
    font-size: 4rem;
    font-weight: 600;
}

.porter-footprint-cont .footprint-title-cont h2{
    display: block;
    font-size: 2.5rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.growth{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15rem;
    margin-right: 15rem;
    /* justify-content: space-between; */
}

.growth-item{
    width: 13rem;
    margin: 2rem 1rem 2rem 1rem;
}

.growth-item .num{
    padding-bottom: 0;
    height: 50px;
    width: 13rem;
}
.growth-desc{
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.7;
    height: 60px;
    width: 13rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.map-img{
    margin-top: 5rem;
    margin-left: 6rem;
}

.map-img img{
    height: 500px;
    width: 550px;
}

.map-msg{
    font-size: 1rem;
}

.map-msg div{
    color: hsla(0,0%,100%,.64);
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 2rem;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.cust-rev-title{
    color: hsla(0,0%,100%,.64);
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 2.4rem;
    margin: 0;
    padding: 0;
    padding-inline: 0.8rem;
    white-space: nowrap;
}

.cust-rev-title h2{
    font-size: 1.2rem;
}

.reviews{
    display: flex;
    overflow-x: scroll;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items:center;
}
.details .name{
    font-size: 1rem;
    width: 15vw;
    line-height: 1.5rem ;
    text-align: start;
}

.details .place{
    font-size: 1rem;
    width: 15vw;
    line-height: 1.5rem;
    opacity: 0.7;
    text-align: start;
}

.rev{
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: 300;
    text-align: start;
}

.person1{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2.4rem;
    box-sizing: border-box;
    color: #fff;
    min-width: 24rem;
    background: transparent;
    border-radius: 1.6rem;
    width: 24rem;
    margin-left: 6rem;
}

.news{
    line-height: 5rem;
    font-size: 2rem;
    font-weight: 200;
    color: #fff;
    margin-bottom: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 50vw;
    margin-left: 27vw;
}

.dots{
    display: flex;
    margin-left: 50vw;
}
.dot{
    height: 10px;
    width: 10px;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: white;
}

.questions{
    margin-top: 2rem;
    
}

.questions h3{
    font-size: 45px;
    margin-left: 28vw;
    font-weight: 600;
}

.questions p{
    margin-top: 1rem;
    margin-left: 28vw;
    font-size: 20px;
    opacity: 0.8;
}

.dropdown{
    margin-left: 10vw;
}
.dropdown button{
    width: 60vw;
    background-color: white !important;
    color: black !important;
    border: none;
    text-align: start;
    font-size: 1.5rem;
}

.dropdown-menu{
    width: 60vw;
    text-align: center;
    padding: 1rem;
}

.dropdown-menu div{
    font-size: 1rem;
}

.dropdown-menu.show {
    padding-inline-start: 1rem;
    font-size: 2rem !important;
}

.ques{
    width: 100%;
    padding-inline: 2.4rem;
    max-width: 84.8rem;
    margin-inline: auto;
    margin-bottom: 12rem;
    box-sizing: border-box;
}

.ques-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ques-container h3{
    font-weight: 100;
}

.q-ans{
    display: none;
    /* display: block; */
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: rgba(51,51,51,.64);
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 2rem;
    margin: 0;
}

.q-ans p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.footer{
    color: white;
    padding: 3rem 2rem 3rem 2rem;
}

.list-up{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.list-up .list{
    margin-right: 10rem;
    margin-bottom: 5rem;
}

.list-down{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.low{
    margin-top: 0rem;
}

.list-down .list{
    margin-right: 12rem;
}

.list-up .list-title{
    font-size: 1.6rem;
}

.footer p{
    font-size: 19px;
    margin-top: 1rem;
    opacity: 0.8;
}

.tagline{
    margin-bottom: 1rem;
}

.socials{
    display: flex;
    margin-top: 3rem;
}

.socials i{
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-right: 2rem;
}